{% extends 'base.html' %}

{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
{% endblock %}

{% block title %}｜天氣圖庫{% endblock %}

{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static '/css/map.css' %}"/>
{% endblock %}
{% block script %}
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
<script src="https://api.windy.com/assets/map-forecast/libBoot.js"></script>
<script src="{% static '/js/apiRequest.js' %}"></script>
{% endblock %}

{% block content %}
<div id="windy"></div>
{% endblock %}